.outer-container{
    width: 100%;
    background: black;
    height: 100vh;
}
.container{
    width:500px;
    background-color:aliceblue;
    padding: 30px;
    margin:auto;
    height:450px;
    
}
.left-container{
    width: 20%;
    height: 450px;
    float: left;
    background: black;
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-left: -17px;
}
.left-container li{
    list-style: none;
    color: aliceblue;
}
.right-container{
    width: 80%;
    height: 450px;
}
.message-box{
    height:330px;
    overflow: auto;
}
button{
    background-color: #4F2470;
    color: white;
}
h1{
    text-align: center;
}
li{
    list-style: none;
    color: black;
}
.time{
    color: black;
    font-weight: bold;
    margin-right:10px;
}
input[name=inputMsg]{
    width:60%;
}